.dock {
  position: relative;
  top: -300px;
  left: 10%;
  transform: translateX(-50%);
  align-items: flex-start;
  height: 10px;
  width: 30px;
  display: flex;
  padding: 10px;
  padding-bottom: 6px;
  gap: 12px;
  background-color: transparent;
  will-change: contents;
  box-sizing: content-box;
  border-radius: 12px;
  transform-origin: center bottom;
  flex-direction: column;
}
