/* --- Base font & body tweaks --- */
html,
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: contextual;
  font-kerning: normal;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* --- Default styles --- */
:root {
  color-scheme: light dark;

  --parchment: #f0ead2ff;
  --tea-green: #dde5b6ff;
  --olivine: #adc178ff;
  --military:#718355;
  --chamoisee: #a98467ff;
  --umber: #6c584cff;
  color: var(--umber);
  background-color: var(--tea-green);
  
  line-height: 1.5;
  font-weight: 400;
}

/* Typography */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover { color: #535bf2; }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Animations */
@keyframes progress {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
