/* Central import hub */
@import "./base.css";
@import "./button.css";
@import "./collapsible.css";
@import "./domain-form.css";
@import "./drawing-options.css";
@import "./point-list.css";
@import "./equation-list.css";
@import "./cursorTooltip.css";
@import "./equation-input.css";
@import "./manual-point-input.css";
@import "./graph-plot.css";

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 5px; /* or height for horizontal */
}

/* The track (background) */
::-webkit-scrollbar-track {
  background: transparent; /* or rgba for semi-transparent */
}

/* The draggable thumb */
::-webkit-scrollbar-thumb {
  background: transparent; /* 30% black */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--military); /* darker when hovered */
}

/* Remove default background */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
}

#side-bar {
  width: 33%;
  padding-left: 10px;
  height: 90%;
  padding-top: 1%;
  margin-right: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2%;
  position: relative;
}
#border-line {
  width: 4px;                 /* thickness of the line */
  border-radius: 2px;
  margin-top: 2%;
  margin-bottom: 2%;

  /* gradient background instead of border */
  background: linear-gradient(to top, var(--olivine), var(--chamoisee));
}
