#manual-point-container {
  margin-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

#input-x,
#input-y {
  margin-right: 5px;
  width: 100px;
  padding: 5px 8px;
  border: 2px solid var(--umber);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: var(--parchment);
  color: var(--umber);
}

#add-point-btn {
  padding: 5px 10px;
  border: none;
  background-color: var(--olivine);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  padding-top: 3px;
}

#add-point-btn:hover {
  background-color: var(--military);
}

#add-point-btn:active {
  transform: scale(0.95);
}
