.point-list { list-style: none; padding: 0; margin: 0; }
.point-item {
  display: flex; justify-content: space-between; align-items: center;
  padding: 6px 8px; 
  cursor: pointer; color: var(--umber);
  font-weight: 600;
  border-radius: 10px;
}
.point-item:hover { background-color: var(--olivine); }
.point-info { display: flex; flex-direction: column; }
.point-coord { font-weight: bold; margin-bottom: 2px; }
.point-item.highlighted { 
  font-weight: bold; 
  color:var(--olivine); 
  background-color: var(--parchment); 
}
.point-item.hidden { text-decoration: line-through; opacity: 0.6; }
