.dock-card {
  border-radius: 120px;
  border: solid 1px var(--military);
  background-color: var(--tea-green);
  filter: saturate(0.9) brightness(0.9);
  transition: filter 200ms;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    filter: saturate(1) brightness(1.12);
  }
}

.dock-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: transparent;
}

.dock-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--military);
}
.dock-card {
  border: 2px solid var(--umber);
  transition: border 0.3s ease;
}

